<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let message of messages" [detail]="false">
      <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
      <ion-label class="ion-text-wrap">
        <h2>
          {{ message.nombreduenointer}}
          <span class="date">
            <ion-note>{{ currentDate | date:'yyyy-MM-dd' }}</ion-note>
          </span>
        </h2>
        <h3>Intercambio de personaje solicitado</h3>
        <p>
          Hola, quiero intercambiar {{ message.idinter }} por tu {{ message.idori }}
        </p>
      </ion-label>
      <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-buttons style="width: 50%;" (click)="doTrade()">
        <ion-icon aria-hidden="true" name="checkmark" size="large"></ion-icon> <!--Remember this gotta be insde a button-->
      </ion-buttons>
      <ion-buttons style="width: 50%;">
      <ion-icon aria-hidden="true" name="close" size="large"></ion-icon>
      </ion-buttons>
    </div>
    </ion-item>
  </ion-list>
</ion-content>