<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="bus"></ion-icon>
      <ion-label>Lugares</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" >
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="#" >
      <ion-icon aria-hidden="true" name="cloud"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="tab6" href="/tabs/tab6">
    <ion-icon aria-hidden="true" name="mail"></ion-icon>
    <ion-label>Email</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab4" href="/tabs/tab4">
    <ion-icon aria-hidden="true" name="search"></ion-icon>
    <ion-label>Escanear</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab5" href="/tabs/tab5">
    <ion-icon aria-hidden="true" name="cart"></ion-icon>
    <ion-label>Subastas</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab7" href="/tabs/tab7">
    <ion-icon aria-hidden="true" name="swap-horizontal"></ion-icon>
    <ion-label>Intercambiados</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
